<div class="panel panel-default">
    <div class="panel-body">
    	<div style="float:left"><%= link_to 'Back', prints_path, class: 'btn btn-success' %></div>
		<h1>Editing Print</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @print %> |
		
	</div>
</div>
