<p id="notice"><%= notice %></p>

<h1>Listing Prints</h1>



<% @prints.each do |print| %>

  
  <p><%= link_to (image_tag print.image.url(:medium)), print_path(print) %></p>
  <p><%= print.name %></p>

<% end %>

<%= link_to 'Post a Print', new_print_path %>
