<div class="panel panel-default">
    <div class="panel-body">
    	<div style="float:left"><%= link_to 'Back', prints_path, class: 'btn btn-success' %></div>
    	<br/><br/>
		<h1>New Print</h1>

		<%= render 'form' %>
	</div>
</div>
