<%= bootstrap_form_for([@print, @pledge], layout: :horizontal, label_col: "col-sm-0", control_col: "col-sm-4") do |f| %>
  <% if @pledge.errors.any? %>
    <div id="error_explanation">
      <% @pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div style="text-align: center;">
    <%= f.check_box :agreement, label: "I Agree" %>
  </div>

  <br/>
  <div style="text-align: center;">
    <%= f.submit "Support", class: "btn-lg btn-primary"%>
  </div>
<% end %>