<h1 class="form_title">Thank you! We are very happy with your interest!</h1>

<div class="well well-lg">Pledging is a great way to support the talent in this site and save 30% on this purchase, but we are counting on you to support this print once it goes into production. In Art Funnel we are only interested in honest members. We hope that you prove to be one as well. Will you purchase this print once it goes in production?</div>

<%= render 'form' %>