<h1><%= "Thank you, #{current_user.username} for you support!" %></h1>

<h3><%= "We will notify you through your email, #{current_user.email}  when the print goes on production"%></h3>

<%= link_to "Back to the Funnel", prints_path %>
