
<h1>Latest Prints</h1>

<ul class="slider5" id="menu">
  <%@products.each do |movie|%>
    <li class="sub">
      <div class="thumbnail">
        <%= link_to (image_tag product.image.url(:medium), class: 'image'), movie %>
      </div>
    </li>
  <% end %>
</ul>


<h2>Latest Artist</h2>