<div class="panel panel-default" style="border-color: black;">
  <div style="background-color: black; padding: 50px;">
    <div id="banner_pic"></div>

    <div class="spacer"></div>

    <table style="float: right;">
      <tr>
        <td>
          </tr>
            <table>             
              <tr>
                <td class="pacifico_white" style="font-size: 50px; text-align: center;">New Prints!</td>
              </tr>
              <tr> 
                <td style="text-align:center;">
                  <%@products.sort_by(&:created_at).reverse.first(6).each do |product|%>
                    <%= link_to (image_tag product.image.url(:small), class: 'image'), product %>
                  <% end %>
                </td>    
              </tr>
              <tr><td>&nbsp;</td></tr>
              <tr>
                <td class="pacifico_white" style="font-size: 40px; text-align: center;">Latest Submissions</td>
              </tr>
              <tr>
                <td>
                  <ul class="slider5" id="menu">                
                    <% @prints.sort_by(&:created_at).reverse.first(4).each do |print| %>
                      
                      <%= link_to (image_tag print.image.url(:small), class: 'image'), print %>
                    <% end %> 
                  </ul>                     
                </td>                 
              </tr>
            </table>
          </td>
        </tr>
      </td>
    </table>
    <br/>
  </div>
</div>       



<br/><br/>

<div class="panel panel-default" style="border-color: #8562a8;">
  <div style="background-color: #8562a8;" class="panel-body">
    <h1 class="pacifico_white" style="text-align:center;">Artist of the Month</h1>
    <br/>
    <div style="text-align:center;"><%= image_tag('profile_pic.jpg')%></div>
    <h1 class="arizonia_red" style="text-align:center; color: black;">Nicolas Berrizbeitia</h1>
    <br/>
    <p style="color:#F0EED2; font-size: 20px;";>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nicolas is a not suspicious. He is a vigorous developer/designer hybrid. His childhood dreams included being a wizard and a writer. Little did he know that his true calling came in another W word: Web Development. the more he immerses himself into the ice, the more he realizes that coding is the magic and literature of our time. With his imagination he has the power to craft world from the binary nether. He happens to be the creator of this site, and also a great dancer.</p>
  </div>
</div>




<script>
  $('.slider5').bxSlider({
    minSlides: 3,
    maxSlides: 6,
    slideWidth: 200,
    infiniteLoop: true
  });
</script>