/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";


/* blue = #07b4ed, fuschia = #ed1894,
   purple = #8562a8, green = #7bda15 */


* {
	font-family: 'Special Elite', cursive;
	font-size: 20px;
}

.profile {

   color: white;  /* Fallback: assume this color ON TOP of image */
   background: url('background1.jpg') no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-family: 'Pacifico', cursive;

}

.form-field {
	background: black; 
	width: 50%; 
	float: left; 
	color: white;
	padding: 5px;
}
.form-field_2 {
	background: black;
	float: left; 
	color: white;
}
.alert {
	color: white;
	font-size: 30px;

}
.notice {
	color: white;
	font-size: 30px;

}

.splat-container {
	width: 100%;
}
.btn:hover {
	background: url('btn-bg2.jpg');
}

.btn-primary {
	font-size: 24px;
	font-family: 'Pacifico', cursive;
	border-color: #068ebb;
	background-color: #07b4ed;
}
.btn-info {
	font-size: 24px;
	color: black;
	font-family: 'Pacifico', cursive;
	border-color: black;
	background-color: white;
}
.btn-danger {
	font-size: 24px;
	font-family: 'Pacifico', cursive;
	border-color: #068ebb;
	background-color: #07b4ed;
}
.btn-danger:hover {
	background: url('btn-bg1.jpg');
}

.btn-warning {
	font-size: 24px;
	font-family: 'Pacifico', cursive;
	border-color: #8562a8;
	background-color: #8562a8;
}
.btn-warning:hover {
	background: url('btn-bg4.jpg');
}
.btn-success {
	font-size: 24px;
	font-family: 'Pacifico', cursive;
	border-color: #ab0d69;
	background-color: #ed1894;
}
.btn-success:hover{
	background: url('btn-bg2.jpg');
}

.btn-default {
	font-size: 24px;
	border-color: black;
	font-family: 'Pacifico', cursive;
	background-color: black;
	color: white;
}
.btn-default:hover {
	color:white;
	background: url('btn-bg3.jpg');
}
.btn:focus {
	background: url('btn-bg5.jpg');
}

/** SideBar Buttons =================== **/  
.review_btn {
    display: inline-block;
    width: 240px;
    height: 388px;
    background: url(reviewupright1.jpg);
    transition: all .3s ease-in;
}
.review_btn:hover {
    background: url('reviewupright2.jpg');
}
.review_btn:focus {
    background: url('reviewupright3.jpg');
}


.submit_btn {
    display: inline-block;
    width: 240px;
    height: 388px;
    background: url(submit_upright_1.jpg);
    transition: all .3s ease-in;
}

.submit_btn:hover {
    background: url('submit_upright_2.jpg');
}
.submit_btn:focus {
    background: url('submit_upright_3.jpg');
}


.shop_btn {
    display: inline-block;
    width: 240px;
    height: 388px;
    background: url(shop_upright_1.jpg);
    transition: all .3s ease-in;
}

.shop_btn:hover {
    background: url('shop_upright_2.jpg');
}
.shop_btn:focus {
	background: url('shop_upright_3.jpg');
}



h1 {
	font-family: 'Arizonia';
	font-size: 50px;
	color: #07b4ed ;
}
#banner_pic {
	float: left;
	width: 480px;
	min-width: 300px;
	height: 688px;
	background-image: url('banner3.jpg');
	transition: all .5s ease-in;

}
#banner_pic:hover {
	background-image: url('banner2.jpg');

}
.review_button {
	float: left;
	background-image: url(reviewupright1.jpg);
	transition: all .5s ease-in;
}
.review_button:hover {
	background-color: black;

}
.red_arizonia_40{
	font-family: 'Arizonia';
	font-size: 40px;
	color: #07b4ed;
}
.logo_pic:hover {
	opacity: 0.7;
}

.typeface {
    font-family: 'Special Elite', cursive;
 }

.arizonia_red {
	font-family: 'Arizonia';
	color: #07b4ed;
}

.arizonia_white {
	font-family: 'Arizonia';
	color: white;
}
.arizonia_black_40 {
	font-family: 'Arizonia';
	color: black;
	font-size: 40px;
}
.arizonia_black_50 {
	font-family: 'Arizonia';
	color: black;
	font-size: 50px;
}
.arizonia_black_60 {
	font-family: 'Arizonia';
	color: black;
	font-size: 60px;
}
.arizonia_pink_50 {
	font-family: 'Arizonia';
	color: #ed1894;
	font-size: 50px;
}
.open_sans_black{
	font-family: 'Open Sans Condensed', sans-serif;
}
.pacifico_red{
	font-family: 'Pacifico', cursive;
	color: 990000;
}
.pacifico_white{
	font-family: 'Pacifico', cursive;
	color: #F0EED2;
}
.pacifico_black_30{
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 30px;
}
.pacifico_black_40{
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 40px;
}
.pacifico_black_50{
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 40px;
}
.pacifico_purple_70{
	font-family: 'Pacifico', cursive;
	color: #8562a8;
	font-size: 70px;
}

.pacifico_white_scroller{
	font-family: 'Pacifico', cursive;
	color: #F0EED2;
	font-size: 30px;
}

.tables{ border-collapse:collapse; table-layout:fixed;
}
.round {border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;

}

#left {
    float: left;
  	width: 300px;
    height: 1000px;
    overflow: scroll;
}
#right {
    float: left;
    width: 300px;
    height: 1000px;
    overflow: scroll;
}

div.left-division, div.right-division {
	display:inline-block;
}

body {
	background-image: url('background1.jpg');
}

.cart-text {
	float: right;
	margin-left: 68%;
}
.spacer {
	width: 50px;
}
.container {
    padding-right: 20px;
    padding-left: 20px;
}


/** Slider **/

.bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	max-width: 100%;
	display: block;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: orange;
    box-shadow: 0 1px 1px yellow inset, 0 0 8px orange;
    outline: 0 none;
}

.navbar_li:hover {

	text-shadow: -1px 1px 1px orange, 1px -1px 1px yellow;
}

.dropdown-menu li:hover {
	text-shadow: -1px 1px 1px orange, 1px -1px 1px yellow;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	left: -5px;
	background: #fff;
	
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

.container-fluid h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}
