<div class="panel panel-default">
    <div class="panel-body">
		<h1>Editing Product</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
	</div>
</div>